rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      //allow read, write;
      // allow read,create,delete;

      allow create: if request.auth !=null;
      //logged in user must be the owner of the document
      allow read,delete: if request.auth.uid==resource.data.uid;
    }

  }
}