body {
  background-image: url("newdollas.png");
}

.signup-form {
  max-width: 360px;
  margin: 10px auto;
  padding: 20px;
}
.signup-form label {
  display: block;
  margin: 30px auto;
}
.signup-form span {
  display: block;
  margin-bottom: 6px;
}
.signup-form input {
  border-radius: 15px;
  border-style: none;
  padding: 8px 6px;
  background-color: ;
  font-size: 1em;
  color: #777;
  width: 100%;
}
